<!-- https://codepen.io/AllThingsSmitty/pen/VzXrgY -->

<!-- ネオンの参考 -->
<!-- https://birthmoviesdeath.com/2017/10/13/on-blade-runner-2049s-asian-influence-and-disconnect -->

<head>
  <style>
    body {
      background: #333;
    }

    .blade-runner {
      color: #F6C8A4;
      text-shadow: 0 0 5px #F6C8A4,
      0 0 10px #F6C8A4,
      0 0 20px #F6C8A4,
      0 0 40px #B75BA7,
      0 0 80px #B75BA7,
      0 0 90px #B75BA7,
      0 0 100px #B75BA7,
      0 0 150px #B75BA7,
      0 0 200px #B75BA7;
    }

    .original {
      color: #fff;
      text-shadow: 0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
    }
  </style>
</head>

<body>
  <h1 class=blade-runner>ウォレスコーア</h1>
  <br>
  <h1 class=original>EVERYTHING YOU WANT TO HEAR</h1>
</body>